---
---
@import "{{ site.theme }}";
body{
	background-color:#24292E;
}

.page-header {
	background-color: #24292E;
	background-image: unset;
}
.main-content{
	background-color:white;
	font-size: 14px;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
    color:black;
}

.site-footer{
	font-size: 14px;
}
/*
.main-content code{
	font-size: unset;
	background-color: black;
	color: white;
}
*/